<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/swiper.bundle.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <title>Os Quatro Cantos</title>
</head>
<body >
  
      <header class="bg">
      
        <a href="#index"><img src = "./img/logo 4 cantos -trans.png" alt="Logo" class="logo"></a>
        <!--<ul class="redes-sociais">
          <li><a href=""><i class="fab fa-youtube"></i></a></li>
          <li><a href=""><i class="fab fa-soundcloud"></i></a></li>
          <li><a href=""> <i class="fab fa-spotify"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fas fa-at"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-discord"></i></a></li>
        </ul>-->
        <div class="toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="nav-menu">
          <ul>
            <li><a href="#index">Home</a></li>
            <li><a href="#epsodios">Episódios</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#catarse">Catarse</a></li>
            <li><a href="#contact">Contato</a></li>
          </ul>
        </nav>
  </header>
  <main>
    <section class="banner">
      <a href="https://www.catarse.me/quatrocantos?ref=user_contributed" target="_blank"><img src="./img/placa.png" alt="catarse"></a>
    </section>
    <section class="epsodios" id="epsodios">
      <h1 class="titulo">
        Últimos episódios 
      </h1>
      
      <div class="grid">
        <div class="songs">
          <iframe  scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1325451211&color=%236a7336&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
        </div>
        <div class="songs">
          <iframe  scrolling="no" frameborder="no" allow="autoplay"
           src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1305405016&color=%236a7336&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true">
          </iframe>
        </div>
      </div>
      <div class="grid">
      
        <div class="songs">
          <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1283087356&color=%236a7336&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
        </div>
        <div class="songs">
          <iframe  scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1271674090&color=%236a7336&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
        </div>
      </div>
    </div>
      
    
  
   <button class="button"> <a href="https://soundcloud.com/user-555016100" target="_blank">ver mais</a></button>
    </section>

    <section class="about section" id="about">
      <h1  class="titulo ">Quem somos ?</h1>
      <p class="text">
        Criado de fãs para fãs, o podcast Os Quatro Cantos traz uma releitura
        comentada capítulo a capítulo da Crônica do Matador do Rei de Patrick
        Rothfuss. Com as participações de Arthur Maia, Bruno Amorim, Erick
        Alves, Giulia Neves, Rayane Molinario e a edição de Larissa Guilger,
        vamos acompanhar a trajetória de Kvothe nos (até agora) 2 volumes
        dessa série de livros fantásticos.
      </p>
      <h2 class="subtitulo">Membros</h2>
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/arthur.png" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Artur Maia</h2>
                
                <p class="description">Mestre em Letras </p>
                <ul class="social_icons">
                  <li><a href="https://www.facebook.com/arthur.maia.50/ " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/GRRMdidnowrong " target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="http://lattes.cnpq.br/2502869340692743" target="_blank"><img
                              src="./lattes-new.svg" alt="" class="color"></a></li>
    
              </ul>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/erick.jpg" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Erick Alves</h2>
                
                <p class="description">Designer Gráfico - Ilustrador - Escritor</p>
                <ul class="social_icons">
                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li><a href="#" target="_blank"><i class="fab fa-spotify"></i></a>
                  </li>
                  <li><a href="#" target="_blank"><i class="fab fa-amazon"></i></a></li>
              </ul>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/bruno.jpg" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Bruno Amorim</h2>
                
                <p class="description">Analista de Segurança da Informação</p>
                <ul class="social_icons">
                  <li><a href="http://twitch.tv/skratos13" target="_blank"><i class="fab fa-twitch"></i></a></li>
                  <li><a href="https://twitter.com/brunoamorimc13" target="_blank"><i class="fab fa-twitter"></i></a></li>
              </ul>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/giulia.jpg" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Giulia Bokel</h2>
                
                <p class="description">Ilustradora</p>
                <ul class="social_icons">
                  <li><a href="https://twitter.com/Giuliabokel" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/artofgiuliabokel/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href=" https://www.giuliabokel.com/" target="_blank"><i class="fa fa-laptop"
                              aria-hidden="true"></i></a></li>
              </ul>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/larissa.jpg" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Larissa Guilger</h2>
                
                <p class="description">Programadora - Editora</p>
                <ul class="social_icons">
                  <li><a href="https://twitter.com/Lari_Guilger" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/artofgiuliabokel/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    
              </ul>
              </div>
            
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/rayane.jpg" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Rayane Molinario</h2>
                
                <p class="description">Estudante de Serviço Social</p>
                <ul class="social_icons">
    
                  <li><a href=" https://www.instagram.com/rayanemolinario/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://twitter.com/azoraharya" target="_blank"><i class="fab fa-twitter"></i></a></li>
    
              </ul>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay">
                </span>
                <div class="card-image">
                  <img src="./img/membros/Rock.jpg" alt="" class="card-img">
    
                </div>
              </div>
              <div class="card-content"><h2 class="name">Rock Sbeguen</h2>
                
                <p class="description">Artista 3D - Editor</p>
                <ul class="social_icons">
                  <li><a href="https://www.instagram.com/rock_gs/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href=" https://www.artstation.com/rock_gs" target="_blank"><i class="fa fa-laptop"
                      aria-hidden="true"></i></a></li>
              </ul>
              </div>
            
            </div>
            </div>
          </div>
          
        </div>
       
    
      </div>
    
    
    
      
    </section>
     
    <section class="catarse section" id="catarse">
      <h1 class="titulo ">Catarse</h1>
   
        <p class="text">  Nosso podcast ainda é um hobby de fãs apaixonados
          pela série de livros. Então, todo o custo do projeto, equipamentos e afins, fica por nossa conta.
           Criamos a campanha para custear e melhorar a qualidade dos nossos episódios. Com possibilidades de apoio
            a partir de R$5,00 e diferentes recompensas aos apoiadores do projeto,
            além de lives e sorteios de livros e marcadores.</p>
            <div class="catarseBook">
              <img src="./img/livro (merged).png" alt="Catarse Livros" class="img-catarse">
              <p class="text">Dando um pequeno apoio através do catarse,
                 você nos ajuda a manter o podcast! Além disso,
                 para demonstrar nosso agradecimento, preparamos algumas recompensas para nossos apoiadores,
                como sorteios mensais de livros, marcadores, postais, blocos de notas e diversos outros brindes</p>
            </div>
          
              <p class="text">Apoiando, você também é convidado para o nosso grupo no Telegram, participa de episódio e lives também.</p>
          

            <button class="button"><a href="https://www.catarse.me/quatrocantos?ref=user_contributed" target="_blank">Apoie o projeto</a></button>
            
    </section>
    <section class="section contact about" id="contact">
      <h1 class="titulo">Contato</h1>
      <div>
        <p class="text">
          Nossa caixa de entrada e redes sociais  estão sempre aberta para sugestões, críticas,
           elogios ou apenas dizer um oi!
        </p>
        <a href= "mailto:"podcastosquatrocantos@gmail.com" class="contact-email"><i class="fas fa-envelope"></i> Mandar um oi</a>

       
      </div>
       


    </section>
  </main>
  

  
  <footer class="footer">
    <section class="footerP">
      <div>
        <h3>Redes sociais </h3>
        <ul class="redes-sociais">
        
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fas fa-at"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-discord"></i></a></li>
        </ul>
      </div>
     
      <div>
        <h3 >
          Ouça-nos
        </h3>
        <ul class="redes-sociais">
          <li><a href=""><i class="fab fa-youtube"></i></a></li>
          <li><a href=""><i class="fab fa-soundcloud"></i></a></li>
          <li><a href=""> <i class="fab fa-spotify"></i></a></li>
        </ul>

      </div>
      <!-- class="email-link button"
          
          rel="noopener noreferrer"
          target="_blank"-->
    </section>
    <a href="mailto:nayaranunes.dev@gmail.com">  <p class="textFooter">Desenvolvido com<span><i class="fas fa-heart"></i></span> por 
      
      
      Nayara Nunes</a> </p>
  </footer>
  <script src="/js/swiper.bundle.min.js"></script>
  <script src="/js/script.js"></script>

  
</body>
</html>