@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100&display=swap');
@import url('../fontes/chinese\ rocks\ rg.otf');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:target {
    scroll-margin-top: .8em;
  }
:root{
   --white:#DBDADA;
   --green-300:#24935F;
   --green-600:#092618;
   --orange:#a46a2c;
   --orange-800:#6D2000;
   --orange-400:#E86027;
   --black:#161616;
   --fontMain:'Chinese Rocks';
   --fontText:'PT Mono', monospace;
   --font-size:62.5% /*10px*/
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
main{
max-width: clamp(33rem, 20rem + 20vw, 117rem);
padding: 0 0.5rem;
margin: 0 auto;
}
.bg{
  background-image: url('../img/barra.jpg');
  background-position: center;
}
h1, h2, .button{
  font-family: var(--fontMain);
}
.section{
  display:flex;
  flex-direction: column;
  align-items: center;
}
/* Menu*/
header{
  display: flex;
justify-content: space-between;
 
   z-index: 10;
  
  }
  .logo{
    width: 100px;
  }
  .toggle{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(-35deg);
    z-index: 2;
  } 
  .toggle span{
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: var(--orange-400);
    border-radius: 4px;
    transition: 0.5s;
    
  } 
  .toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 25px;
    left: 20px;
   
  
  }
  .toggle.active span:nth-child(1){
    width: 45px;
    transform: translateY(0px) rotate(45deg);
    transition-delay:0.125s ;
  }
  .toggle span:nth-child(2){
    transform: translateY(15px);
    width: 25px;
    left: 20px;
  
    
  }
  .toggle.active span:nth-child(2){
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay:0.125s ;
  }
  .toggle.active span:nth-child(3){
    transform: translateX(60px);
    
  }
  /*Abrir menu */

 

  .nav-menu{
    position: fixed;
    background-image: linear-gradient(to  bottom, #6D2000, #E86027);
   
    display: flex;
    width: 100vw;
    height: 100vh;
    right: -1000%;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    transition: 0.130s ease-in-out;
    z-index: 1;
   
  
  
  }
 
  nav.active{
   right: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.130s ease-in-out;
  }
  nav ul li{
    padding: 40px;
    width: 100vw;
    text-align: center;
  }
  nav ul li a{
    font-family:var(--fontMain);
    font-size: 2em;
    color: #ddd;
    letter-spacing: 3px;
   
  }
  nav ul li:hover{
    background-color:var(--green-600);
    color: var(--cor01);
    width: 100%;
  }

.banner img{
  width: 100%;
 margin-top: -20px;
  
 /* animation:swing 2s infinite 
alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);*/
cursor: pointer;
}/*
@keyframes swing{
  from{
    transform:perspective(1000px) translateZ(-20px);
  }
  
  to{
    transform:perspective(1000px) translateZ(20px);;
  }
}*/

/* Epsodios*/
.epsodios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

iframe{
  width:100%;
  height:150px;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
/* Botões e Textos*/
.button{
  padding: 1rem 0;
  width: 90%;

  background-image: linear-gradient(to bottom,#6D2000,#E86027 );
  border-radius: 15px;
  font-size: 1.5rem;
  border: none;
  margin-top: 1rem;
  
}
.button a{
  color: var(--white);
}
.button:hover{
  background-image: linear-gradient(to bottom,#E86027 ,#6d2000);
}
.titulo{
  font-size: 1.8rem;
  color: var(--green-600);
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-align: center;
}
.titulo::after{
  content: "";
  top: 10px;
  left: -15px;
  display:block;
  position: relative;
  height: 2px;
  background-color: var(--green-600);
  width: 250px;
  text-align: center;
  
}
.titulo::before{
  content: "";
  top: -10px;
  left: -15px;
  display:block;
  position: relative;
  height: 2px;
  background-color: var(--green-600);
  width: 250px;
  text-align: center;
}
.text{
  font-family: var(--fontText);
  font-size: 1rem;
  line-height: 1.2rem;
  text-indent: 20px;
  width: 90%;
  margin: 1.5rem 0;
}
.subtitulo{
  font-size: 1.5rem;
  color:var(--orange-800);
  margin: 1rem;
  font-family: var(--fontMain);
  text-align: center;
  letter-spacing: 2px;
}
/*Catarse*/
.catarse{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catarseBook{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* footer*/
.footer{
  background-image: url('../img/barra.jpg');
  background-position: center;
  padding: 1rem;
  background-repeat: no-repeat;
  margin-top: 2rem;
 
}
.footerP{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.footerP h3{
  font-size: 1.5rem;
  font-family: var(--fontMain);
  margin-bottom: 1rem;
}
.textFooter{
  font-family: var(--fontText);
  font-size: 0.6rem;
  text-indent: 20px;
  margin: 2rem 0 0 0;
  text-align: center;
}
.textFooter span{
  color:#571f2c;
  transform: rotate(-45deg) scale(1);
  animation: pulse 0.8s linear infinite;
}
@keyframes pulse{
  0% {
      transform: rotate(-45deg) scale(1);
      opacity: 0;
  }
  10% {
      transform: rotate(-45deg) scale(1.3);
  }
  20% {
      transform: rotate(-45deg) scale(0.9);
  }
  30% {
      transform: rotate(-45deg) scale(1.2);
  }
  40% {
      transform: rotate(-45deg) scale(0.9);
  }
  50% {
      transform: rotate(-45deg) scale(1.3);
      opacity: 1;
  }
  60% {
      transform: rotate(-45deg) scale(0.95);
  }
  70% {
      transform: rotate(-45deg) scale(1);
  } 
  100% {
      transform: rotate(-45deg) scale(1);
      opacity: 1;
  }
}
.footer h3{
  letter-spacing: 2px;
  color: var(--white);
}
.footer a{
  color:#571f2c;
}
.redes-sociais{
  display: flex;
  justify-content: center;
 
}
.redes-sociais  li a{
  color: var(--white);
  font-size: 1.2rem;
  padding: 0.2rem;
}
.redes-sociais li a:hover{
  color: var(--orange-800);
}

  /* Catarse*/
  .img-catarse{
    width: 50%;
    text-align: center;
  }

  /* contato*/
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
  }
  .contact-email{
    color: var(--green-600);
    font-family: var(--fontText);
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
  }
  .contact-email:hover{
    color: var(--green-300);
  }
  /* Membros */

  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px;

  }
  .slide-content{
    padding: 20px 20px;
     margin: 0 40px;
  }
  .card{
    max-width: 280px;
    height: 350px;
    border-radius: 25px 25px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    background:var(--white);

  }
  .image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

  }
  .image-content{
    position: relative;
    row-gap:5px ;
    
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image:url();
    border-radius:25px 25px 0 25px ;
    background-image:url('../img/card.png');
    filter: brightness(0.8);

  }

  .card-image{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #6d2000;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #e86027;
  }
  .name{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--green-600);
    margin-bottom: 2rem;

  }
  .description{
    font-family: var(--fontText);
    font-size:1rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 2rem;
  }

  ul{
    list-style: none;
  }
  .social_icons li{margin: 5px;}
  .social_icons{
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5em;
transition: 0.5s;

  }
  .social_icons li a{
    color: var(--black);
  }
  .social_icons li a:hover{
  transform: rotate(360deg);
  background-color: var(--cor04);
  color: var(--black);
}

@media  (min-width:768px) {
  main{
    max-width:117rem  ;
    padding: 0 0.5rem;
    margin: 0 auto;
    }
  .slide-container{
    max-width: 1440px;
    width: 100%;
   
    padding: 40px;

  }
  .titulo{
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .titulo::after{
    content: "";
    top: 10px;
    left: -15px;
    display:block;
    position: relative;
    height: 2px;
    background-color: var(--green-600);
    width: 500px;
    text-align: center;
    
  }
  .titulo::before{
    content: "";
    top: -10px;
    left: -15px;
    display:block;
    position: relative;
    height: 2px;
    background-color: var(--green-600);
    width: 500px;
    text-align: center;
  }
  .text{
    width: 60%;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;

  }
  .logo{
    width: 80px;
    margin: 15px;
  }
  .banner a{
    display: flex;
    justify-content: center;
  }
.banner a img{
  width: 40%;
  filter: brightness(1);
}
.contact{
  width: 100%;


}
.contact p{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.catarseBook{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.catarseBook p{
  width: 50%;
  margin-left: 20px;
}
.img-catarse{
  width: 15%;
}
.redes-sociais li a{
  font-size: 1.5rem;
}
.textFooter{
  font-size: 1rem;
}
.footerP h3{
  font-size: 1.8rem;
}
.button{
  width: 300px;
}

.epsodios{
  display: flex;
}
.songs iframe{
  width:100%;
  height:250px;
  margin: 0 150px 20px 0;
  padding: 5px;
} 
.grid{
  display: flex;
}


}
  @media (min-width:1200px){
  
    .catarseBook p{
      width: 40%;
      margin-left: 20px;
    }
    .img-catarse{
      width: 20%;
    }
   

  }
  
